{% extends "./base.html" %}
{% load static %}
{% block title %}Azad Portfolio{% endblock %}
{% block content %}


<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5" style="padding: 50px;">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Azad Khan</h1>
        <hr class="featurette-divider">
        <h6 class="header-mono">Backend Developer | Python</h6>
      </div>
    </div>
  </section>


   <!--<section class="py-5 container">
      <h1 class="h1 fw-bold">Summary</h1>
      <p class="mb-0">Specializes in contributing to a highly collaborative work environment, finding solutions, and determining
        customersatisfaction. Web applications are designed and developed across multiple APIs,third-party 
        integrations, and databases. Passionate and hardworking with a passion for efficiently performing tasks.</p>
    <hr class="featurette-divider">
  </section>


  <section class="py-5 container">
    <div>
      <h1 class="h1 fw-bold">Experience</h1>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Software Developer Intern, <span class="text-muted">May 2022 to Sep 2022</span></h2>
        <p class="lead text-muted" >Mcsam, Gurgoan</p>
        <ul>
          <li>Partnered with companymentorto learn best practicesin software design.</li>
          <li>Fix bugs and errorsin application software both frontend and backend</li>
          <li>Used development toolssuch as Django rest framework and Postman regularly.
          </li>
          <li>Analyzed source code to identify and rectify potential functionality issues.
          </li>
          <li>Utilize such technologies as Python, Django restframework, Angular, Html&CSS, and</li>
          <li>MySQL to develop new functionality in the application.</li>
        </ul>  
      </div>
      <div class="col-md-5">
        <img src = "/static/images/mcsam.png" alt="Mcsam India"/ width="500", height="200">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">DevOps Engineer Intern, <span class="text-muted">Feb 2022 to Apr 2022</span></h2>
        <p class="lead text-muted" >Bolingbrook Illinois, United States</p>
        <ul>
          <li>Quickly learned new skills and applied themto daily tasks.</li>
          <li>Carried out day-to-day duties accurately and efficiently.</li>
          <li>Hands-on experience in Terraform.</li>
          <li>Learn AZ-900: Microsoft Azure Fundamentals.</li>
          <li>Translating requirements and functionalspecificationsinto Data.</li>
          <li>Infrastructure as Code(Iac).</li>
        </ul>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/images/ismile_main.png" alt="Ismile Technologies", width="500", height="200" style="padding-top: 20px;">
      </div>
    </div>
  
    <hr class="featurette-divider">
  </section>


  <section class="py-5 container">
    <div>
      <h1 class="h1 fw-bold">Skills</h1>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <ul>
          <li>Python</li>
          <li>Html CSS</li>
          <li>Java</li>
          <li>Angular</li>
          <li>Django Rest Framework</li>
        </ul>  
      </div>

      <div class="col-md-5">
        <ul>
          <li>Azure</li>
          <li>Postman API</li>
          <li>Terraform</li>
          <li>Mysql</li>
          <li>Github</li>
        </ul>  
      </div>
    </div>

    <hr class="featurette-divider">
  </section>

  <section class="py-5 container">
    <div>
      <h1 class="h1 fw-bold">Projects</h1>
    </div>
    <hr class="featurette-divider">
      <div class="row py-lg-5">
        <ol>
          <li style="font-size: 1.5em">
            <h4 class="featurette-heading fw-normal lh-1">Image Blurring and Deblurring, <span class="text-muted">Aug 2021 to Apr 2022</span></h4>
          </li>
          <ul>
            <li>I have taken Kaggle dataset high-resolution Images and usedGaussian blur for adding
            noise and reduce the resolution</li>
            <li>Use such technologies as Python, Matplotlib, Pandas, and OpenCV.</li>
            <li>Used development toolssuch as Django rest framework and Postman regularly.</li>
            <li>Apply SRCNNarchitecture for deblurring the blurred Images</li>
          </ul>
          <br> 
          <li style="font-size: 1.5em">
            <h4 class="featurette-heading fw-normal lh-1">Rental Website, <span class="text-muted">Feb 2021 to May 2022</span></h4>
          </li>
            <ul>
              <li>Website in which Users can register and search perfect place to live,rent a house and buy a plot.</li>
              <li>
                Build this webpage using Html, CSS, and JavaScript.
            </ul> 
        </ol> 
    </div>
    <hr class="featurette-divider">
  </section> -->
</main>

{% endblock %}